<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
  <appender name="RabittMqAppender" type="SharedKernel.Logger.Appenders.RabittMqAppender, SharedKernel.Logger">
    <ApplicationName value="TESTING-TermsSearch.IndexAllTerms"/>
    <Host value="rabbitmq.bne.com.br" />
    <User value="logger" />
    <Password value="l3it3c0mc4qu1" />
    <ExchangeName value="log" />
    <Topic value="WEB" />
    <VirtualHost value="log" />
  </appender>
  <root>
    <level value="ERROR"/>
    <appender-ref ref="RabittMqAppender"/>
  </root>
</log4net>
