<?xml version="1.0" encoding="utf-8"?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">
  <appender name="RabittMqAppender" type="SharedKernel.Logger.Appenders.RabittMqAppender, SharedKernel.Logger">
    <ApplicationName value="PRD-TermsSearch.IndexAllTerms"/>
    <Host value="rabbitmq.bne.com.br" />
    <User value="logger" />
    <Password value="l3it3c0mc4qu1" />
    <ExchangeName value="log" />
    <Topic value="WEB" />
    <VirtualHost value="log" />
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="RabittMqAppender"/>
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
