<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BNEVSTS" value="https://banconacionaldeempregos.pkgs.visualstudio.com/_packaging/bne/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <BNEVSTS>
      <add key="Username" value="VSTS" />
      <add key="ClearTextPassword" value="klukyjf7lx2gj2hfppgaarfnbqfucskojbkla7duks36kim5a65a" />
    </BNEVSTS>
  </packageSourceCredentials>
</configuration>